<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <listener>
        <listener-class>com.in6k.aviaTicketDesk.controller.ApplicationContext</listener-class>
    </listener>

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.in6k.aviaTicketDesk.controller.MainController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Flights</servlet-name>
        <servlet-class>com.in6k.aviaTicketDesk.controller.FlightController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Flights</servlet-name>
        <url-pattern>/flights</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addData</servlet-name>
        <servlet-class>com.in6k.aviaTicketDesk.controller.AddDataController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addData</servlet-name>
        <url-pattern>/addData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ticketDesk</servlet-name>
        <servlet-class>com.in6k.aviaTicketDesk.controller.TicketDeskController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ticketDesk</servlet-name>
        <url-pattern>/ticketDesk</url-pattern>
    </servlet-mapping>
</web-app>